*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    padding: 10px;
    
    & main{
        margin: 10px auto;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        background-color: #fff5df;
        border-radius: 20px;
        & h1{
            color: #7D0A0A;
            padding: 10px;
            width: inherit;
            text-align: center;
        }
        & .container{
            width: inherit;
            margin: 10px auto;
            & label{
                color: #BF3131;
                padding: 5px;
                font-weight: 600;
            }
            & textarea{
                padding: 10px 5px;
                outline: none;
                border: 3px solid #7d0a0a1f;
                border-radius: 10px;
                background-color: #f7f7f7;
                color: #000000;
                font-size: 16px;
            }
            & button{
                background-color: #EAD196;
                color: #000000;
                padding: 10px;
                border-radius: 30px;
                border-color: transparent;
                font-weight: 600;
                font-size: 18px;
                &:hover{
                    background-color: #f1ca6f;
                    cursor: pointer;
                }
            }
        }
        & .test-output{
            margin: 10px auto;
            width: inherit;
            & p{
                color: #000000;
                font-weight: 600;
            }
        }
    }
}